/* Style for glowing neon buttons */
.neon-button {
  background-color: black;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px #f3ebeb, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
}

.neon-button:hover {
  background-color: #32c253;
  color: black;
  box-shadow: 0 0 10px #40df92, 0 0 20px #3bdc73, 0 0 30px #3ee08c, 0 0 40px #40f884;
}
button {
  background-color: #111;
  color: #fff;
  border: 2px solid #00ffcc;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
}

button:hover {
  background-color: #051311;
  color: #111;
  box-shadow: 0 0 15px #0f1615, 0 0 30px #040707, 0 0 50px #00ffcc;
}

#extraButtons {
  display: none;
  margin-top: 10px;
}

#extraButtons button {
  margin: 5px 0;
  padding: 10px;
  background-color: #222;
  color: #4e4545;
  border: 2px solid #ff66cc;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px #ff66cc, 0 0 10px #ff66cc;
  transition: all 0.3s ease;
}

#extraButtons button:hover {
  background-color: #ff66cc;
  color: #111;
  box-shadow: 0 0 15px #ff66cc, 0 0 30px #ff66cc;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9f9f9;
}





